<a href="https://colab.research.google.com/github/ROBINSEBASTIAN860/python-1/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
m1=input("enter the travel source")
m2=input("enter the travel destination")
m3=int(input("enter no of passengers"))
print(m1,m2,m3)

enter the travel source kerala
enter the travel destination tamilnadu
enter no of passengers 20
 kerala  tamilnadu 20

In [2]:
m1=int(input("total amount of ticket"))
m2=int(input("no of passengers"))
totalamount=print(m1/m2)

total amount of ticket30
no of passengers 20
1.5

In [7]:
m1=(input("name of the passenger"))
m2=int(input("amount of the ticket"))
print(m1,m2)

name of the passenger abcd
amount of the ticket 10
 abcd 10

In [10]:
if m1>10000:
  print("eligible")
else:
  print("not eligible")

total ticket fare500
not eligible

In [12]:
m1=int(input("total ticket fare"))
if m1>15000:
  print("eligible for  20% discount")
if m1<15000:
  print("eligible for 10% discount")

total ticket fare 1000
eligible for 10% discount

In [14]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
  print(x*20/100)
else:
  print("Eligible for 10% discount")
  print(x*10/100)

Total TIcket Fare 5000
Eligible for 10% discount
500.0

In [16]:
x=int(input("Enter A Number "))
if x%2==0:
  print("The Number is positive")
elif x%2!=0:
  print("The Number is negative")
else:
  print("Number is Zero")

Enter A Number 10
The Number is positive

In [17]:
x=int(input("Age of Passenger "))
if x>18:
  print("Adult")
elif x>12 and x<18:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger 105
Adult

In [22]:
x=input("Passengers Initial ")
if x=="a":
  print("Vowel")
elif x=="e":
  print("Vowel")
elif x=="i":
  print("Vowel")
elif x=="o":
  print("Vowel")
elif x=="u":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial e
Vowel

In [26]:
x="robin sebasian"
for a in x:
  print(a)

r
o
b
i
n

s
e
b
a
s
i
a
n

In [27]:
for i in range(45,87,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85